.form {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    position: relative;
    transition: color 0.3s;
    padding: 0;
    outline: transparent;
    border: none;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 60px;
      right: 15vw;
      width: 21px;
      height: 21px;
      background-repeat: no-repeat;
      background-image: url('../images/icons/cross.svg');
      background-size: auto;
      opacity: 0.3;

      @include r($r-sm) {
        top: 30px;
        right: 3vw;
      }
    }

    &:hover::before {
      opacity: 1;
    }

    &:active::before {
      opacity: 0.1;
    }
  }

  &__title {
    padding-top: 59px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: $black;
    margin-bottom: 37px;

    @include r($r-sm) {
      font-size: 34px;
    }
  }

  &__button {
    padding: 16px 83px;
    margin-bottom: 88px;
    outline: transparent;
    border: none;

    @include r($r-sm) {
      padding: 14px 40px;
    }

    @include r($r-xs) {
      padding: 13px 30px;
    }
  }

  &__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: $black;
  }

  &__text {
    display: block;
    max-width: 360px;
    width: 100%;
    border: 2px solid $grey-700;
    border-radius: 3px;
    padding: 16px 14px 16px 16px;
    margin-bottom: 34px;
    font-weight: 700;
    transition: all 0.3s;

    &:focus {
      outline: transparent;
      border-color: $black;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      color: $dark-400;
    }

    &:hover {
      border-color: $grey-800;
    }
  }

  &__message {
    display: block;
    max-width: 760px;
    width: 100%;
    border: 2px solid $grey-700;
    border-radius: 3px;
    padding: 16px 14px 16px 16px;
    font-weight: 700;
    resize: none;
    min-height: 118px;
    margin-bottom: 47px;
    transition: all 0.3s;

    &:focus {
      outline: transparent;
      border-color: $black;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      color: $dark-400;
    }

    &:hover {
      border-color: $grey-800;
    }
  }

  &__wrapper {
    max-width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include r($r-sm) {
      display: block;
    }
  }

  &__group-msg {
    width: 100%;
  }

  &__group {
    width: 47%;

    @include r($r-sm) {
      width: 100%;
    }
  }
}